.img {
    margin-top: 9vh;
    width: 100vw;
    height: 91vh;
    background-position: center center;
    background-repeat: repeat;
  }
.layer {
    position: absolute;
    top: 0;
  
    width: 100vw;
    height: 100vh;
    background-color: #171d25;
    opacity: 0.85;
  
    /* z-index: 2; */
  }