.img {
    width: 100vw;
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
.layer {
    position: absolute;
    top: 0;
  
    width: 100vw;
    height: 110vh;
    background-color: var( --main-backgroud-color );
    opacity: 0.85;
  
    /* z-index: 2; */
  }