
.logo {
  font-weight: Bolder;
  font-size: 2rem;
  font-family: "BoutrosMBCDinkum";
  font-weight: 900;
  text-align: center;
}

.mid {
    color: var( --primary-color );
}

.night{
    color:  var( --secondary-color );
}
