.navbar {
  display: flex;
  /* direction: rtl; */
  float: right;
  font-size: 1.1rem;
  font-weight: 800;
  font-family: "BoutrosMBCDinkum";
}

.nav-link{
  display: inline-block;
  color: white !important;
}
.active{
  color: var( --primary-color ) !important;
}



