.mainDiv1 {
  position: relative;
  /* direction: rtl; */
  margin: 3px;
  margin-top: 25px;
  margin-bottom: 20px;
  display: inline-block;
  width: 16vw;
  height: 16vh;
  background-color: #181d25;
}

.mainDiv1:hover {
  display: inline-block;
  margin: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
  /* margin-bottom: 10px; */
  width: 20vw;
  height: 20vh;
  background: red;
  transition: width 0.5s, height 0.5s, margin-bottom 0.5s, margin-top 0.5s;
}
.sectionImg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: width 0.5s, height 0.5s, margin-bottom 0.5s, margin-top 0.5s;
}

.bakground {
  position: absolute;
  background: rgb(23, 29, 37);
  background: linear-gradient(
    0deg,
    rgba(23, 29, 37, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  width: 100%;
  height: 100%;
  bottom: 0;
  opacity: 0;
}

.bakground:hover {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.top {
  position: relative;
  margin: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: inline-block;
  position: relative;
  width: auto;
  height: 25px;
}

.badge {
  display: block;
  height: 25px;
  /* position: absolute; */
  z-index: 3;
  padding: 6px 6px;
  border-radius: 6px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  line-height: 0;
  top: 0;
  /* left: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.90278vw;
  padding-right: 8px;
  padding-left: 8px;
}

.adult{
  background-color: #e41932;
}
 .rate{
  color: #000;
  background-color: rgb(245, 197, 24);
 }

.body {
  margin-left: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* direction: rtl; */

}

.session {
  display: inline-block;
  font-weight: 300;
  font-size: 1rem;
  color: aquamarine;
  font-family: "BoutrosMBCDinkum";
  width:15vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mainInfo {
  color: #cecece;
  font-weight: 500;
  font-size: 18px;
  font-family: "BoutrosMBCDinkum"
}

.container {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: auto;
}

.footer {
  display: block;
  align-items: center;
  margin-left: 10px;
  width: 19vw;
  margin-top: 10px;
  /* direction: rtl; */
}
.title {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  color: white;
  font-family: "BoutrosMBCDinkum";
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}
