

/* .subContainer {
  display: flex;
  flex-direction: row;
} */

.title {
  color: white;
  font-weight: 600;
  line-height: normal;
  font-size: 4vw;
  height: 4vw;
  font-style: normal;
  font-family: 'BoutrosMBCDinkum';
}


.genre {
  margin: 0;
  height: 25px;
  z-index: 3;
  padding: 6px;
  border-radius: 6px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  
  font-size: 0.90278vw;
  padding-right: 8px;
  padding-left: 8px;
  color: #000;
  background-color: rgb(245, 197, 24);
  /* color: aquamarine;
  font-weight: 600;
  line-height: normal;
  font-size: 1vw;
  height: 1vw;
  font-style: normal;
  font-family: 'BoutrosMBCDinkum'; */
}

.mainInfo {
  display: block;
  color: #a3afc2;
  /* font-weight: bolder; */
  font-weight: bolder;
  font-size: 1.5vw;
  /* direction: rtl; */
  font-family: 'BoutrosMBCDinkum';
}



.para {
  max-width: 50%;
  text-align: left;
  font-weight: 400;
  font-size: 1.2vw;
  color: white;
  margin:auto;
  margin-left: 0px;
  font-family: 'BoutrosMBCDinkum';
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.thumbnail{
    max-height: 30vh;
    width: auto;
}

.actionDiv{
  width: 20rem;
}