

.subContainer {
  display: flex;
  flex-direction: row-reverse;
}

.session {
  color: white;
  font-weight: 600;
  line-height: normal;
  font-size: 22px;
  font-style: normal;
  font-family: 'BoutrosMBCDinkum';
}

.mainInfo {
  color: #a3afc2;
  /* font-weight: bolder; */
  font-weight: 500;
  font-size: 18px;
  direction: rtl;
  font-family: 'BoutrosMBCDinkum';
}



.arabicPara {
  margin-top: 12px;
  max-width: 48%;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  direction: rtl;
  color: white;
  font-family: 'BoutrosMBCDinkum';

}

.thumbnail{
    max-height: 300px;
    width: auto;
}

.actionDiv{
  display: flex;
  width: 25wv;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 12px;
  direction: rtl;
}