:root{
  --primary-color:#0c9;
  --secondary-color:#09f;
  --main-backgroud-color:#171d25;
}

.App {
  /* max-width: 10vw; */
  /* background-color: var( --main-backgroud-color ) !important; */
  /* overflow-x: hidden; */
}

.blockDiv {
  margin-bottom: 3vh;
  display: block;
  position: relative;
}

.section {
  margin-top: 30px;
}

.loader {
  position: absolute;
  top: 20vh;
  bottom: auto;
  /* right: auto; */
  display: block;
  width: 100vw;
  height: 100vh;
  margin: auto;
  align-items: center;
}
